name: 'E2E'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g.: v2.0.0-next.17)'
        required: true

run-name: E2E (${{ inputs.version }})

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            node: 20
          - os: macos-latest
            node: 20
          - os: windows-latest
            node: 20
          - os: ubuntu-latest
            node: 22
          - os: macos-latest
            node: 22
          - os: windows-latest
            node: 22
          - os: ubuntu-latest
            node: 24
          - os: macos-latest
            node: 24
          - os: windows-latest
            node: 24
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm ci
      # Build to allow tests properly serialize subjects code
      - name: Build
        run: npm run build
      - name: Run tests
        run: npm run test:e2e
        env:
          E2E_LIBRARY_VERSION: ${{ inputs.version }}
